@import '../app.scss';

#education {
    padding-top: 4rem;
    background-color: $bg-light-variant;
    color: $text-dark;

    .section-title {
        margin-bottom: 1rem;

        span {
            border-bottom: 3px solid $secondary-color;
        }
    }

    .title {
        margin-bottom: .5rem;
    }

    .subtitle {
        margin-bottom: 1rem;
        font-size: 1.1rem;
    }

    p {
        color: $bg-dark-variant;
    }

    .row-break {
        padding-bottom: 3rem;
        border-bottom: 1px solid hsl(38, 12%, 69%);
    }

}