@import '../app.scss';

header {
    position: relative;
    min-height: 60px;
    width: 100%;
    background-size: cover !important;
     -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;

    #nav-wrap {
        position: fixed;
        width: 100%;
        background-color: $bg-color;
        z-index: 100;
    }


    li {
        display: inline-block;
        padding: .5rem .7rem;
        line-height: 32px;
    }

    a {
        text-decoration: none;
        text-align: left;
        color: #fff;
         -webkit-transition: color .2s ease-in-out;
         -moz-transition: color .2s ease-in-out;
         -o-transition: color .2s ease-in-out;
         -ms-transition: color .2s ease-in-out;
         transition: color .2s ease-in-out;
    }

    a:hover {
        color: $primary-color;
    }
    a:active {
        color: $primary-color;
    }

    @media screen and (max-width: 350px) {
        a {
            padding: .5rem .6rem;
        }
    }
}