@import '../app.scss';

#skills {
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: $bg-light-variant;
    color: $text-dark;

    .section-title {
        margin-bottom: 1rem;

        span {
            border-bottom: 3px solid $secondary-color;
        }
    }

    .bar {
        width: 80%;
        height: 42px;
        display: inline-block;
        border-radius: 3px 3px 3px 3px;
        line-height: 42px;
        border: 1px solid $bg-dark-variant;
        background-color: #c2c2c2;
        margin-bottom: 1rem;
    }

    @media only screen and (max-width: 767px) {
        .bar {
            width: 100%;
        }
    }
    
    .bar-fill {
       background: $primary-color;
       display: inline-block;
       height: 42px;
       line-height: 42px;
       border-radius: 3px 0 0 3px;
    }

    .python {
        width: 90%;
    }
    .javascript {
        width: 60%;
    }
    .java {
        width: 40%
    }
    .c {
        width: 20%;
    }
    .html {
        width: 70%;
    }
    .css {
        width: 75%;
    }
    .sql {
        width: 80%;
    }
    .git {
        width: 70%;
    }
}